// @media screen and (min-width: 768px) {
//   body {
//     //width: 800px;
//     //max-height: 1000px;
//   }
// }

// @media screen and (max-width: 767px) {
//    body {
//     //width: 600px;
//     /*max-height: 500px;*/
//   }
// }


body {
  background-image: image-url("restaurant.jpg");
  //background-color: rgba(5%, 5%, 5%, 1);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  
}

.container {
 background-color: rgba(160, 159, 159, 0.5);

}

.restaurant-item {
  padding: 4px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow-y: hidden;
  height: 300px;
  // .picture {
  //   max-height: 180px;
  //   width: 100%;
  // }
}

.restaurant-item img {
  max-height: 150px;
  width: 100%;
}

.restaurant-item .caption {
  > h3 {
    margin-top: 5px;
  }
  padding: 0 5px 0 10px;
  .description {
    padding-top: 5px;
  }
}



.nav-pills-center {
  text-align: center;
}

.nav-pills-center > li {
  margin-top: 5px;
  float: none;
  display: inline-block;
}

.edit_user img {
  width: 50px;
  margin: 10px;
}

.my-restaurant {
  display: inline-block;
  text-align: center;
  padding: 7px 7px 0 7px;
}

.my-restaurant > div {
  height: 60px;
}

.my-restaurant img {
  max-height: 100%;
}

.panel a:hover .my-restaurant {
  background-color: #eee;
}
